*{
	padding: 0px;
	margin: 0px;
}
.top{
	width: 100%;
	height: 32px;
	background: #E3E4E5;
	position: relative;
	top:0px;
}
/* 返回京东首页 */
.top .top_location .shouye{
	text-decoration: none;
	margin-left: -57px;
	float: left;
	margin-top: 7px;
	font-size: 12px;
	color: #999999;
}

/* 首页图标 */
.top .top_location .sy span{
	text-decoration: none;
	font-size: 14px;
	margin-left: -90px;
	float: left;
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
}
/* 定位 */
.top .top_location{
	width: 50px;
	height:30px;
	left: 410px;
	position: relative;
	display: inline-block;
	border: 1px solid transparent;
}
.top .top_location .c_location{
	font-size:18px;
	color: #F10215;
	position: absolute;
	bottom: 4px;
	cursor: pointer;
}
.top .top_location .guangdong{
	font-size: 12px;
	position: absolute;
	bottom: 7px;
	color: #999999;
	left: 17px;
}
.top .top_location_display{
	width: 322px;
	height: 438px;
	border: 1px solid #DED5DC;
	border-top: none;
	margin-top: 31px;
	margin-left: -1px;
	position: relative;
	display: none;
	background: white;
}
.top .top_location_display .line1{
	width: 260px;
	border: 0.5px dashed #EEEEEE;
	margin-top: 90px;
	margin-left: 20px;
}
.top .top_location_display .line2{
	width: 260px;
	border: 0.5px dashed #EEEEEE;
	margin-top: 10px;
	margin-left: 20px;
}
.top .top_location_display .c_global{
	font-size:18px;
	color: #F10215;
	position: absolute;
	bottom: 85px;
	left: 20px;
}
.top .top_location_display .c_australia{
	font-size:18px;
	color: #F10215;
	position: absolute;
	bottom: 85px;
	left: 145px;
}
.top .top_location_display .top_location_li li{
	color:#999999;
	font-size:12px;
	display: inline-block;
	width: 15%;
	margin-left:10px;
	margin-top:15px;
	cursor: pointer;
}
.top .top_location:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_location:hover>p{
	color: #F10215;
}
.top .top_location:hover>.top_location_display{
	display:block;
	z-index: 999;
}
.top .top_location_display .top_location_li li:hover{
	color:#F10215;
}
/* 定位 */

/* 请登录 */
/* 何洛洛yn PLUS */
.top .top_enter{
	height:30px;
	left: 585px;
	margin-top: 8px;
	font-size:12px;
	color:#F10215;
	position: absolute;
	cursor:pointer;
	text-decoration: none;
	font-size: 12px;
}
.top .top_register:hover{
	color:#F10215;
}
/* 免费注册 */

/* 我的订单 */
.top .top_myform{
	font-size:12px;
	position: absolute;
	left: 693px;
	margin-top: 8px;
	color:#999999;
	cursor: pointer;
	text-decoration:none;
}
.top .top_myform:hover{
	color:#F10215;
}

/* 我的京东 */
.top .top_myjd_box{
	height:27px;
	left: 760px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
}
.top .top_myjd_box .top_myjd{
	color:#999999;
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
}
.top .top_myjd_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_myjd_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_myjd_box:hover>.top_myjd{
	color:#F10215;
}
.top .top_myjd_box .top_myjd_display{
	width: 282px;
	height: 163px;
	border-left: 0.5px solid #EEEEEE;
	border-right: 0.5px solid #EEEEEE;
	border-bottom: 0.5px solid #EEEEEE;
	border-top: none;
	margin-top: 90px;
	margin-left: -1px;
	position: absolute;
	top: -60px;
	display: none;
	background: white;
}
.top .top_myjd_box .top_myjd_display .top_myjd_ul li{
	color:#999999;
	font-size:12px;
	display: block;
	float: left;
	width: 35%;
	margin-left:20px;
	margin-top:10px;
}
.top .top_myjd_box:hover>.top_myjd_display{
	display:block;
	z-index: 999;
}
.top .top_myjd_box .top_myjd_display li:hover{
	color:#F10215;
}
/* 我的京东 */

/* 京东会员 */
.top .top_vip{
	font-size:12px;
	position: absolute;
	left: 855px;
	margin-top: 8px;
	color:#999999;
	cursor: pointer;
	text-decoration:none;
}
.top .top_vip:hover{
	color:#F10215;
}
/* 京东会员 */

/* 企业采购 */
.top .top_purchase_box{
	height:27px;
	left: 920px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
}
.top .top_purchase_box .top_purchase{
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
	color:#999999;;
}
.top .top_purchase_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_purchase_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_purchase_box .top_purchase_display{
	width: 155px;
	height: 70px;
	border-left: 0.5px solid #EEEEEE;
	border-right: 0.5px solid #EEEEEE;
	border-bottom: 0.5px solid #EEEEEE;
	border-top: none;
	margin-top: 90px;
	margin-left: -1px;
	position: absolute;
	top: -60px;
	display: none;
	background: white;
}
.top .top_purchase_box .top_purchase_display .top_purchase_ul li{
	color:#999999;
	font-size:12px;
	display: block;
	float: left;
	width: 40%;
	margin-left:10px;
	margin-top:10px;
}
.top .top_purchase_box:hover>.top_purchase_display{
	display:block;
	z-index: 999;
}
.top .top_purchase_box .top_purchase_display li:hover{
	color:#F10215;
}

/* 企业采购 */

/* 客户服务 */
.top .top_service_box{
	height:27px;
	left: 1007px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
}
.top .top_service_box .top_service{
	color:#999999;
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
}
.top .top_service_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_service_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_service_box:hover>.top_service{
	color:#F10215;
}
/* 客户服务 */

/* 网站导航 */
.top .top_navigation_box{
	height:27px;
	left:1095px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
}
.top .top_navigation_box .top_navigation{
	color:#999999;
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
}
.top .top_navigation_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_navigation_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_navigation_box:hover>.top_navigation{
	color:#F10215;
}
/* 网站导航 */

/* 手机京东 */
.top .top_phonejd{
	font-size:12px;
	position: absolute;
	left: 1190px;
	margin-top: 0px;
	color:#999999;
	cursor: pointer;
	text-decoration:none;
	top:8px;
}
.top .top_phonejd:hover{
	color:#F10215;
}

/* 导航条底部 导航栏 */
.shopping_top .s_footer{
	height: 144px;
	background: #ffffff;
}

.shopping_top .s_footer .img{
	margin-left: 248px;
	margin-top: 28px;
	margin-right: 0px;
	float: left;
}
.shopping_top .s_footer .logo{
	margin-left: 0px;
	margin-top: 40px;
	margin-right: 0px;
	float: left;
	font-size: 30px;
	color: #e2231a;
}
.shopping_top .s_footer .h3{
	font-weight: normal;
	margin-left: 15px;
	margin-top: 49px;
	margin-right: 0px;
	float: left;
}
.shopping_top .s_footer .inp{
	width: 272px;
	height: 26px;
	border: 2px solid #c81623;
	float: left;
	margin-left: 380px;
	margin-top: 40px;
}
.shopping_top .s_footer .btn{
	width: 54px;
	height: 30px;
	background: #c81623;
	border: 0;
	margin-top: 40px;
	color: white;
}
.shopping_top .s_footer .things{
	text-decoration: none;
	color: #e2231a;
	font-weight:bold;
	margin-top: 115px;
	margin-left: -915px;
	position: absolute;
}

.shopping_top .s_footer .span_box{
	width: 250px;
	height: 24px;
	border: 1px solid #f3f3f3;
	position: absolute;
	margin-left: 390px;
	margin-top: 40px;

}
.shopping_top .s_footer ul{
	list-style:none;
	font-size: 12px;
}
.shopping_top .s_footer .span_box .look,.drop{
	text-decoration: none;
}
.shopping_top .s_footer .span_box .ul_lis1{
	color: #e2231a;
	margin-left: 10px;
	margin-top: 4px;
}
.shopping_top .s_footer .span_box .ul_lis2{
	margin-left: 47px;
	margin-top: -16px;
}
.shopping_top .s_footer .span_box .ul_lis3{
	margin-left: 180px;
	margin-top: -16px;
	color: #000;
}
.shopping_top .s_footer .span_box .ul_lis3:hover{
	color: #e2231a;
}
.shopping_top .s_footer .span_box .ul_lis4{
	margin-left: 230px;
	margin-top: -16px;
	color: #000;
}
.shopping_top .s_footer .span_box .ul_lis4:hover{
	color: #e2231a;
}
.shopping_top .s_footer .send{
	font-size:12px;
	margin-left: 350px;
	margin-top: 42px;
	float: left;
}

.shopping_top .s_footer .section1{
	margin-top: 40px;
	margin-left: 7px;
}
/* 确定按钮 */
.shopping_top .s_footer .obtn{
	width: 31px;
	height: 19px;
	position: absolute;
	margin-left: 1102px;
	margin-top: -20px;
	cursor: pointer;
}

/* 中部 */
/* 选择框 */
.shopping_body .select_box{
	width: 920px;
	height: 44px;
	background: #f3f3f3;
	margin-right:auto;
	margin-left: 215px;
}
/* 复选框 */
.shopping_body .select_box .checkbox{
	margin-left: 10px;
	margin-top: 15px;
}
/* 复选框标签 */
.shopping_body .select_box .label{
	font-size: 12px;
	margin-left: 8px;
	position: absolute;
	margin-top: 13px;
}
.shopping_body .select_box ul{
	list-style: none;
}
.shopping_body .select_box ul li{
	float: left;
	font-size: 12px;
}
.shopping_body .select_box ul .lis1{
	margin-top: -20px;
	margin-left: 130px;
}
.shopping_body .select_box ul .lis2{
	margin-top: -20px;
	margin-left: 488px;
}
.shopping_body .select_box ul .lis3{
	margin-top: -20px;
	margin-left: 570px;
}
.shopping_body .select_box ul .lis4{
	margin-top: -20px;
	margin-left: 710px;
}
.shopping_body .select_box ul .lis5{
	margin-top: -20px;
	margin-left: 810px;
}

/* 购物车商品 */
.shopping_body .shop_box{
	width: 918px;
	height: 700px;
	border: 1px solid #f3f3f3;
	margin-right:auto;
	margin-left: 215px;
}
.shopping_body .shop_box .checkboxs{
	margin-top: 20px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .labels{
	font-size: 12px;
	color:#666666;
	margin-top: 18px;
	float: left;
	margin-left: 8px;
	font-weight: bold;
}
.shopping_body .shop_box .kefu{
	font-size: 24px;
	float: left;
	color:blue;
	margin-top: 12px;
	margin-left: 10px;

}
.shopping_body .shop_box .youhq{
	font-size: 30px;
	float: left;
	margin-top: 8px;
	margin-left: 200px;
}
.shopping_body .shop_box .car{
	margin-top: 12px;
}

/* 第一件商品 */
.shopping_body .shop_box .shop_comd1{
	height: 122px;
	width: 918px;
	border: 1px solid #f1f1f1;
	margin-top: 7px;
	border-top:2px solid #aaaaaa;
	border-right:0px;
	border-left: 0px;
}
.shopping_body .shop_box .shop_comd1 .checkbox_01{
	margin-top: 22px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .shop_comd1 img{
	float: left;
	margin-top: 18px;
	margin-left: 15px;
}
.shopping_body .shop_box .shop_comd1 .a_01{
	text-decoration: none;
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 20px;
	margin-left: 12px;
}
.shopping_body .shop_box .shop_comd1 .a_01:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd1 .txt1{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	font-size:12px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd1 .txt2{
	margin-top: 20px;
	margin-left: 70px;
	float: left;
	font-size:12px;
	color: #333333;
	cursor: pointer;
}

/* 商品数量加或减 */
.shopping_body .shop_box .shop_comd1 .text_01{
	width: 30px;
	float: left;
	margin-left: 2px;
	margin-top: 20px;
	padding-left: 20px;
	outline: none;
}
.shopping_body .shop_box .shop_comd1 .btn_01{
	width: 25px;
	float: left;
	margin-left: 2px;
	margin-top: 20px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd1 .btn_02{
	width: 25px;
	float: left;
	margin-top: 20px;
	margin-left: 35px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd1 .textp2{
	font-size:12px;
	float: left;
	margin-top: 40px;
	margin-left: -65px;
}
.shopping_body .shop_box .shop_comd1 .txt3{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
	font-size:12px;
	font-weight: bold;
}
.shopping_body .shop_box .shop_comd1 .textp3{
	margin-top: 19px;
	margin-left: 50px;
	float: left;
	font-size:14px;
	color: #333333;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd1 .textp3:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd1 .textp4{
	margin-top: 41px;
	margin-left: -30px;
	float: left;
	font-size:14px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd1 .textp4:hover{
	color: #e2231a;
}


/* 第二件商品 */
.shopping_body .shop_box .checkboxs2{
	margin-top: 30px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .labels2{
	font-size: 12px;
	color:#666666;
	margin-top: 28px;
	float: left;
	margin-left: 8px;
	font-weight: bold;
}
.shopping_body .shop_box .kefu2{
	font-size: 24px;
	float: left;
	color:blue;
	margin-top: 22px;
	margin-left: 10px;

}
.shopping_body .shop_box .youhq2{
	font-size: 30px;
	float: left;
	margin-top: 17px;
	margin-left: 180px;
}
.shopping_body .shop_box .car2{
	margin-top: 21px;
}

.shopping_body .shop_box .shop_comd2{
	height: 122px;
	width: 918px;
	border: 1px solid #f1f1f1;
	margin-top: 10px;
	border-top:2px solid #aaaaaa;
	border-right:0px;
	border-left: 0px;
}

.shopping_body .shop_box .shop_comd2 .checkbox_02{
	margin-top: 22px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .shop_comd2 img{
	float: left;
	margin-top: 18px;
	margin-left: 15px;
}
.shopping_body .shop_box .shop_comd2 .a_02{
	text-decoration: none;
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 20px;
	margin-left: 12px;
}
.shopping_body .shop_box .shop_comd2 .a_02:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd2 .txt3{
	margin-top: 20px;
	margin-left: 18px;
	float: left;
	font-size:12px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd2 .txt4{
	margin-top: 20px;
	margin-left: 66px;
	float: left;
	font-size:12px;
	color: #333333;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd2 .text_02{
	width: 30px;
	float: left;
	margin-left: 2px;
	margin-top: 20px;
	padding-left: 20px;
	outline: none;
}
.shopping_body .shop_box .shop_comd2 .btn_03{
	width: 25px;
	float: left;
	margin-left: 44px;
	margin-top: 20px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd2 .btn_04{
	width: 25px;
	float: left;
	margin-top: 20px;
	margin-left: 2px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd2 .textp3{
	font-size:12px;
	float: left;
	margin-top: 40px;
	margin-left: -65px;
}
.shopping_body .shop_box .shop_comd2 .txt5{
	margin-top: 20px;
	margin-left: 25px;
	float: left;
	font-size:12px;
	font-weight: bold;
}
.shopping_body .shop_box .shop_comd2 .textp4{
	margin-top: 19px;
	margin-left: 58px;
	float: left;
	font-size:14px;
	color: #333333;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd2 .textp4:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd2 .textp5{
	margin-top: 41px;
	margin-left: -30px;
	float: left;
	font-size:14px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd2 .textp5:hover{
	color: #e2231a;
}

/* 第三件商品 */
.shopping_body .shop_box .checkboxs3{
	margin-top: 30px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .labels3{
	font-size: 12px;
	color:#666666;
	margin-top: 28px;
	float: left;
	margin-left: 8px;
	font-weight: bold;
}
.shopping_body .shop_box .kefu3{
	font-size: 24px;
	float: left;
	color:blue;
	margin-top: 22px;
	margin-left: 10px;

}
.shopping_body .shop_box .youhq3{
	font-size: 30px;
	float: left;
	margin-top: 17px;
	margin-left: 200px;
}
.shopping_body .shop_box .car3{
	margin-top: 21px;
}
.shopping_body .shop_box .shop_comd3{
	height: 122px;
	width: 918px;
	border: 1px solid #f1f1f1;
	margin-top: 7px;
	border-top:2px solid #aaaaaa;
	border-right:0px;
	border-left: 0px;
}
.shopping_body .shop_box .shop_comd3 .checkbox_03{
	margin-top: 22px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .shop_comd3 img{
	float: left;
	margin-top: 18px;
	margin-left: 15px;
}
.shopping_body .shop_box .shop_comd3 .a_03{
	text-decoration: none;
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 20px;
	margin-left: 12px;
}
.shopping_body .shop_box .shop_comd3 .a_03:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd3 .txt05{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	font-size:12px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd3 .txt06{
	margin-top: 20px;
	margin-left: 75px;
	float: left;
	font-size:12px;
	color: #333333;
	cursor: pointer;
}

/* 商品数量加或减 */
.shopping_body .shop_box .shop_comd3 .text03{
	width: 30px;
	float: left;
	margin-left: 2px;
	margin-top: 20px;
	padding-left: 20px;
	outline: none;
}
.shopping_body .shop_box .shop_comd3 .btn_05{
	width: 25px;
	float: left;
	margin-left: 35px;
	margin-top: 20px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd3 .btn_06{
	width: 25px;
	float: left;
	margin-top: 20px;
	margin-left: 2px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd3 .textp06{
	font-size:12px;
	float: left;
	margin-top: 40px;
	margin-left: -65px;
}
.shopping_body .shop_box .shop_comd3 .txt07{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
	font-size:12px;
	font-weight: bold;
}
.shopping_body .shop_box .shop_comd3 .textp07{
	margin-top: 19px;
	margin-left: 50px;
	float: left;
	font-size:14px;
	color: #333333;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd3 .textp07:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd3 .textp08{
	margin-top: 41px;
	margin-left: -30px;
	float: left;
	font-size:14px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd3 .textp08:hover{
	color: #e2231a;
}

/* 第四件商品 */
.shopping_body .shop_box .checkboxs4{
	margin-top: 30px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .labels4{
	font-size: 12px;
	color:#666666;
	margin-top: 28px;
	float: left;
	margin-left: 8px;
	font-weight: bold;
}
.shopping_body .shop_box .kefu4{
	font-size: 24px;
	float: left;
	color:blue;
	margin-top: 22px;
	margin-left: 10px;

}
.shopping_body .shop_box .youhq4{
	font-size: 30px;
	float: left;
	margin-top: 17px;
	margin-left: 260px;
}
.shopping_body .shop_box .car4{
	margin-top: 21px;
}
.shopping_body .shop_box .shop_comd4{
	height: 122px;
	width: 918px;
	border: 1px solid #f1f1f1;
	margin-top: 7px;
	border-top:2px solid #aaaaaa;
	border-right:0px;
	border-left: 0px;
}
.shopping_body .shop_box .shop_comd4 .checkbox_13{
	margin-top: 22px;
	margin-left: 10px;
	float: left;
}
.shopping_body .shop_box .shop_comd4 img{
	float: left;
	margin-top: 18px;
	margin-left: 15px;
}
.shopping_body .shop_box .shop_comd4 .a_13{
	text-decoration: none;
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 20px;
	margin-left: 12px;
}
.shopping_body .shop_box .shop_comd4 .a_13:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd4 .txt15{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	font-size:12px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd4 .txt16{
	margin-top: 20px;
	margin-left: 98px;
	float: left;
	font-size:12px;
	color: #333333;
	cursor: pointer;
}

/* 商品数量加或减 */
.shopping_body .shop_box .shop_comd4 .text13{
	width: 30px;
	float: left;
	margin-left: 2px;
	margin-top: 20px;
	padding-left: 20px;
	outline: none;
}
.shopping_body .shop_box .shop_comd4 .btn_15{
	width: 25px;
	float: left;
	margin-left: 35px;
	margin-top: 20px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd4 .btn_16{
	width: 25px;
	float: left;
	margin-top: 20px;
	margin-left: 2px;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd4 .textp16{
	font-size:12px;
	float: left;
	margin-top: 40px;
	margin-left: -65px;
}
.shopping_body .shop_box .shop_comd4 .txt17{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
	font-size:12px;
	font-weight: bold;
}
.shopping_body .shop_box .shop_comd4 .textp17{
	margin-top: 19px;
	margin-left: 132px;
	float: left;
	font-size:14px;
	color: #333333;
	cursor: pointer;
}
.shopping_body .shop_box .shop_comd4 .textp17:hover{
	color: #e2231a;
}
.shopping_body .shop_box .shop_comd4 .textp18{
	margin-top: 41px;
	margin-left: -30px;
	float: left;
	font-size:14px;
	color: #333333;
}
.shopping_body .shop_box .shop_comd4 .textp18:hover{
	color: #e2231a;
}

/* 结算 */
//  .shopping_body .paying{
// 	width: 1520px;
// 	height: 65px;
// 	border: 1px solid #eeeeee;
// 	margin-left: 30px;
// 	border-left: 0px;
// 	border-right:0px;
// 	background: #ffffff;
// 	z-index:1;
// 	box-shadow: 0 0 1px 1px #eeeeee;
// 	z-index: 2;
// } 
 .shopping_body .pay_box{
	height: 57px;
	width: 818px;
	float: left;
	background: #fff4e8;
	margin-top: 7px;
	border-left: 0px;
	margin-left: 216px;
}
.shopping_body .pay_box .checkbox{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
.shopping_body .pay_box .labels{
	float: left;
	font-size: 12px;
	margin-top: 18px;
	color: #666666;
}
.shopping_body .pay_box .a_01,.a_02,.a_03{
	text-decoration: none;
	font-size: 12px;
	color: #666666;
	float: left;
	margin-top: 18px;
	margin-left: 10px;
}
.shopping_body .pay_box a:hover{
	color: #e2231a;
}
.shopping_body .pay_box .a_04{
	text-decoration: none;
	font-size: 12px;
	color: #666666;
	float: left;
	margin-left: 300px;
	margin-top: 20px;
	cursor: pointer;
}
.shopping_body .pay_box .p_01{
	font-size: 12px;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
}
.shopping_body .pay_box .p_02{
	font-size: 14px;
	float: left;
	margin-top: 20px;
	margin-left: 2px;
	color: #e2231a;
	font-weight: bold;
}
.shopping_body .pay_box span{
	float: left;
	margin-top: -20px;
	margin-left: 770px;
}
.shopping_body .pay_box .p_03{
	font-size: 12px;
	float: left;
	margin-top: 0px;
	margin-left: 700px;
}
.shopping_body .pay_box .p_04{
	font-size: 12px;
	float: left;
	margin-top: -15px;
	margin-left: 735px;
}

.shopping_body .pay_btn{
	width: 101px;
	height: 59px;
	float: left;
	margin-left: 1034px;
	margin-top: -59px;
	background: #e2231a;
	border: 0px;
	color: #ffffff;
	font-size:18px;
} 

.shopbox_mid{
	width: 100%;
	height: 95px;
}
.shopbox_mid .gouwuche{
	font-size:26px;
	color: #e2231a;
	float: left;
	margin-right: auto;
	margin-left: 700px;
	margin-top: 20px;
}
.shopbox_mid  .p_01{
	font-size: 14px;
	float: left;
	margin-top: 25px;
	color: #666666;
}
.shopbox_mid .p_02{
	font-size: 14px;
	float: left;
	margin-top: 50px;
	margin-left: -150px;
	color: #666666;
}

/* 中部图片 */
.mid_box{
	width: 100%;
	height: 770px;
	border-bottom: 0px;
}
.mid_box .mid_box_01{
	width: 930px;
	height: 360px;
	border: 1px solid #f1f1f1;
	border-top: 2px solid #aaaaaa;
	float: left;
	margin-left:200px;
	margin-right: auto;
}
.mid_box .mid_box_02{
	width: 930px;
	height: 360px;
	border: 1px solid #f1f1f1;
	border-top: 2px solid #aaaaaa;
	float: left;
	margin-top: 0px;
	margin-left: 200px;
}
.mid_box .mid_box_01 .box_top01{
	width: 100%;
	height: 100px;
	background: #fafafa;
}
.mid_box .mid_box_01 .box_top01 .box_a1 img{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.mid_box .mid_box_01 .box_top01 .box_a2{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	margin-top: 20px;
	float: left;
	margin-left: 10px;
}
.mid_box .mid_box_01 .box_top01 .box_a2:hover{
	color: #e2231a;
}
.mid_box .mid_box_01 .box_top01 .box_p1{
	float: left;
	font-size:12px;
	margin-top: 38px;
	margin-left: -623px;
	color: #aaaaaa;
}
.mid_box .mid_box_01 .box_top01 .box_p2{
	float: left;
	font-size:12px;
	margin-top: 55px;
	margin-left: -623px;
	color: #e2231a;
}

/* 第一张图片内容 */
.mid_box .mid_box_01 .box_footer01 img{
	margin-top: 20px;
	margin-left: 65px;
	margin-right: auto;
}
.mid_box .mid_box_01 .box_footer01 .text1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 35px;
}
.mid_box .mid_box_01 .box_footer01 .text1:hover{
	color: #e2231a;
}
.mid_box .mid_box_01 .box_footer01 .text2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -206px;
}
.mid_box .mid_box_01 .box_footer01 .text3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -206px;
}
.mid_box .mid_box_01 .box_footer01 .text4{
	text-decoration: none;
}
.mid_box .mid_box_01 .box_footer01 .text4 .gouwuche{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -45px;
}
.mid_box .mid_box_01 .box_footer01 .text4 .gouwuche:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 第二张图片 */
.mid_box .mid_box_01 .box_footer01 .txt1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 22px;
}
.mid_box .mid_box_01 .box_footer01 .txt1:hover{
	color: #e2231a;
}
.mid_box .mid_box_01 .box_footer01 .txt2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -210px;
}
.mid_box .mid_box_01 .box_footer01 .txt3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -210px;
}
.mid_box .mid_box_01 .box_footer01 .txt4{
	text-decoration: none;
}
.mid_box .mid_box_01 .box_footer01 .txt4 .gouwuche1{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -50px;
}
.mid_box .mid_box_01 .box_footer01 .txt4 .gouwuche1:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 第三张图片 */
.mid_box .mid_box_01 .box_footer01 .wz1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 18px;
}
.mid_box .mid_box_01 .box_footer01 .wz1:hover{
	color: #e2231a;
}
.mid_box .mid_box_01 .box_footer01 .wz2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -210px;
}
.mid_box .mid_box_01 .box_footer01 .wz3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -210px;
}
.mid_box .mid_box_01 .box_footer01 .wz4{
	text-decoration: none;
}
.mid_box .mid_box_01 .box_footer01 .wz4 .gouwuche2{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -50px;
}
.mid_box .mid_box_01 .box_footer01 .wz4 .gouwuche2:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 第四张图片 */
.mid_box .mid_box_01 .box_footer01 .tz1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 18px;
}
.mid_box .mid_box_01 .box_footer01 .tz1:hover{
	color: #e2231a;
}
.mid_box .mid_box_01 .box_footer01 .tz2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -180px;
}
.mid_box .mid_box_01 .box_footer01 .tz3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -180px;
}
.mid_box .mid_box_01 .box_footer01 .tz4{
	text-decoration: none;
}
.mid_box .mid_box_01 .box_footer01 .tz4 .gouwuche3{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -30px;
}
.mid_box .mid_box_01 .box_footer01 .tz4 .gouwuche2:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 第二个框 */
.mid_box .mid_box_02 .box_top02{
	width: 100%;
	height: 100px;
	background: #fafafa;
}
.mid_box .mid_box_02 .box_top02 .box_a1 img{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.mid_box .mid_box_02 .box_top02 .box_a2{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	margin-top: 20px;
	float: left;
	margin-left: 10px;
}
.mid_box .mid_box_02 .box_top02 .box_a2:hover{
	color: #e2231a;
}
.mid_box .mid_box_02 .box_top02 .box_p1{
	float: left;
	font-size:12px;
	margin-top: 38px;
	margin-left: -477px;
	color: #aaaaaa;
}
.mid_box .mid_box_02 .box_top02 .box_p2{
	float: left;
	font-size:12px;
	margin-top: 55px;
	margin-left: -477px;
	color: #e2231a;
}

/* 第一张图片内容 */
.mid_box .mid_box_02 .box_footer02 img{
	margin-top: 20px;
	margin-left: 65px;
	margin-right: auto;
}
.mid_box .mid_box_02 .box_footer02 .text1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 35px;
}
.mid_box .mid_box_02 .box_footer02 .text1:hover{
	color: #e2231a;
}
.mid_box .mid_box_02 .box_footer02 .text2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -206px;
}
.mid_box .mid_box_02 .box_footer02 .text3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -206px;
}
.mid_box .mid_box_02 .box_footer02 .text4{
	text-decoration: none;
}
.mid_box .mid_box_02 .box_footer02 .text4 .gouwuche{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -45px;
}
.mid_box .mid_box_02 .box_footer02 .text4 .gouwuche:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 第二张图片 */
.mid_box .mid_box_02 .box_footer02 .txt1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 22px;
}
.mid_box .mid_box_02 .box_footer02 .txt1:hover{
	color: #e2231a;
}
.mid_box .mid_box_02 .box_footer02 .txt2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -210px;
}
.mid_box .mid_box_02 .box_footer02 .txt3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -210px;
}
.mid_box .mid_box_02 .box_footer02 .txt4{
	text-decoration: none;
}
.mid_box .mid_box_02 .box_footer02 .txt4 .gouwuche1{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -50px;
}
.mid_box .mid_box_02 .box_footer02 .txt4 .gouwuche1:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 第三张图片 */
.mid_box .mid_box_02 .box_footer02 .wz1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 18px;
}
.mid_box .mid_box_02 .box_footer02 .wz1:hover{
	color: #e2231a;
}
.mid_box .mid_box_02 .box_footer02 .wz2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -210px;
}
.mid_box .mid_box_02 .box_footer02 .wz3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -210px;
}
.mid_box .mid_box_02 .box_footer02 .wz4{
	text-decoration: none;
}
.mid_box .mid_box_02 .box_footer02 .wz4 .gouwuche2{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -50px;
}
.mid_box .mid_box_02 .box_footer02 .wz4 .gouwuche2:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 第四张图片 */
.mid_box .mid_box_02 .box_footer02 .tz1{
	text-decoration: none;
	font-size:12px;
	color: #666666;
	float: left;
	margin-top: 7px;
	margin-left: 18px;
}
.mid_box .mid_box_02 .box_footer02 .tz1:hover{
	color: #e2231a;
}
.mid_box .mid_box_02 .box_footer02 .tz2{
	text-decoration: none;
	font-size:12px;
	color: #e2231a;
	float: left;
	margin-top: 40px;
	margin-left: -180px;
}
.mid_box .mid_box_02 .box_footer02 .tz3{
	font-size:12px;
	float: left;
	margin-top: 60px;
	margin-left: -180px;
}
.mid_box .mid_box_02 .box_footer02 .tz4{
	text-decoration: none;
}
.mid_box .mid_box_02 .box_footer02 .tz4 .gouwuche3{
	font-size:26px;
	color: #e2231a;
	float: left;
	border: 1px solid #f1f1f1;
	margin-top: 50px;
	margin-left: -30px;
}
.mid_box .mid_box_02 .box_footer02 .tz4 .gouwuche2:hover{
	background: #e2231a;
	color: #ffffff;
}

/* 右边滚动条前小图标 */
.small_01{
	width: 40px;
	height:40px;
	background: #c91423;
	margin-top: -1450px;
	margin-left: 1540px;
	position: absolute;
	position: fixed;
	z-index:2;
}
.small_01:hover{
	background: #ff2121;
}
.small_01 a{
	text-decoration: none;
	color: #ffffff;
	font-size:14px;
	position: absolute;
	text-align:center;
}

.small_02{
	width: 40px;
	height:40px;
	background: #7a6e6e;
	margin-top: -1409px;
	margin-left: 1540px;
	position: fixed;
	z-index:2;
}
.small_02 a .gc{
	text-decoration: none;
	color: #ffffff;
	font-size:28px;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}
.small_02:hover{
	background: #e2231a;
}

.small_03{
	width: 40px;
	height:40px;
	background: #7a6e6e;
	margin-top: -1368px;
	margin-left: 1540px;
	position: absolute;
	position: fixed;
	z-index:2;
}
.small_03 a .bt{
	text-decoration: none;
	color: #ffffff;
	font-size:22px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}
.small_03:hover{
	background: #e2231a;
}
.small_04{
	width: 80px;
	height:40px;
	background: #c91423;
	margin-top: -1409px;
	margin-left: 1460px;
	position: fixed;
	display: none;
	z-index:2;
}
.small_04 a{
	text-decoration: none;
	color: #ffffff;
	float: left;
	margin-top:10px;
	margin-left: 10px; 
	font-size: 14px;
}
.small_05{
	width: 80px;
	height:40px;
	background: #c91423;
	margin-top: -1368px;
	margin-left: 1460px;
	position: fixed;
	display: none;
	z-index:2;
}
.small_05 a{
	text-decoration: none;
	color: #ffffff;
	float: left;
	margin-top:10px;
	margin-left: 17px; 
	font-size: 14px;
}

.bom_01{
	width: 40px;
	height:40px;
	background: #7a6e6e;
	margin-top: -1154px;
	margin-left: 1540px;
	position: absolute;
	position: fixed;
	z-index:2;
}
.bom_01 a .db{
	text-decoration: none;
	color: #ffffff;
	font-size:22px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}
.bom_01:hover{
	background: #e2231a;
}

.bom_02{
	width: 40px;
	height:40px;
	background: #7a6e6e;
	margin-top: -1112px;
	margin-left: 1540px;
	position: fixed;
	z-index:2;
}
.bom_02 a .sc{
	text-decoration: none;
	color: #ffffff;
	font-size:22px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}
.bom_02:hover{
	background: #e2231a;
}

.bom_03{
	width: 40px;
	height:40px;
	background: #7a6e6e;
	margin-top: -1070px;
	margin-left: 1540px;
	position: absolute;
	position: fixed;
	z-index:2;
}
.bom_03 a .wj{
	text-decoration: none;
	color: #ffffff;
	font-size:22px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}
.bom_03:hover{
	background: #e2231a;
}

.bom_04{
	width: 40px;
	height:40px;
	background: #c91423;
	margin-top: -1154px;
	margin-left: 1500px;
	position: absolute;
	position: fixed;
	display: none;
	z-index:2;
}
.bom_04 a {
	text-decoration: none;
	color: #ffffff;
	font-size:14px;
	position: absolute;
	margin-top: 10px;
	margin-left: 9px;
}
.bom_05{
	width: 40px;
	height:40px;
	background: #c91423;
	margin-top: -1112px;
	margin-left: 1500px;
	position: absolute;
	position: fixed;
	z-index:2;
	display: none;
	z-index:2;
}
.bom_05 a {
	text-decoration: none;
	color: #ffffff;
	font-size:14px;
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
}
.bom_06{
	width: 40px;
	height:40px;
	background: #c91423;
	margin-top: -1070px;
	margin-left: 1500px;
	position: absolute;
	position: fixed;
	display: none;
	z-index:2;
}
.bom_06 a {
	text-decoration: none;
	color: #ffffff;
	font-size:14px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}


/* 底部 */
/* .bottom{
	height: 560px;
	background: #EAEAEA;
	bottom: 0px;
	width: 1756;
	margin-right:auto;
	margin-left: auto;
}
.bottom .bottom_a{
	height: 105px;
	background: #EAEAEA;
	position:absolute;
	border-bottom: 1px solid #DEDEDE;
	margin-left: 5px;
}
.bottom .bottom_b{
	height: 200px;
	background: #EAEAEA;
	bottom:-1392px;
	position:absolute;
	border-bottom: 1px solid #DEDEDE;
	margin-left: 82px;
}
.bottom .bottom_c{
	height: 233px;
	background: #EAEAEA;
	bottom:-1625px;
	position:absolute;
	margin-left: 100px;
}
.bottom .bottom_a .bottom_a_ul{
	list-style: none;
	margin-left: 135px;
	margin-top: 35px;
}
.bottom .bottom_a .bottom_a_ul li{
	float: left;
	width: 360px;
	
}
.bottom .bottom_a .bottom_a_ul li .bottom_a_01{
	background: url("../img/c_e1.png");
	width: 40px;
	height: 45px;
	background-position: 0px -188px;
	display: inline-block;
	margin-left: 85px;
}
.bottom .bottom_a .bottom_a_ul li .bottom_a_02{
	background: url("../img/c_e1.png");
	width: 40px;
	height: 45px;
	background-position: -40px -188px;
	display: inline-block;
	margin-left: 10px;
}
.bottom .bottom_a .bottom_a_ul li .bottom_a_03{
	background: url("../img/c_e1.png");
	width: 40px;
	height: 45px;
	background-position: -80px -188px;
	display: inline-block;
	margin-left: -61px;
}
.bottom .bottom_a .bottom_a_ul li .bottom_a_04{
	background: url("../img/c_e1.png");
	width: 40px;
	height: 45px;
	background-position: -120px -188px;
	display: inline-block;
	margin-left: -128px;	
}
.bottom .bottom_a .bottom_a_ul .bottom_p_01{
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left: 132px;
	margin-top: -40px;
	position: absolute;
}
.bottom .bottom_a .bottom_a_ul .bottom_p_02{
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left: 58px;
	margin-top: -40px;
	position: absolute;
}
.bottom .bottom_a .bottom_a_ul .bottom_p_03{
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left: -9px;
	margin-top: -40px;
	position: absolute;
}
.bottom .bottom_a .bottom_a_ul .bottom_p_04{
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left: -78px;
	margin-top: -40px;
	position: absolute;
}
.bottom .bottom_b .bottom_b_ul{
	list-style: none;
	margin-top: 25px;
}
.bottom .bottom_b .bottom_b_ul .bottom_b_li{
	float: left;
	width: 100px;
	height: 155px;
	margin-left: 150px;
}
.bottom .bottom_b .bottom_b_ul .bottom_b_li h1{
	font-size: 15px;
	font-weight: bold;
	display:block;
	margin-bottom: 5px;
	color: #777777;
}
.bottom .bottom_b .bottom_b_ul .bottom_b_li p{
	font-size: 12px;
	color: #666666;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}
.bottom .bottom_b .bottom_b_ul .bottom_b_li p:hover{
	color:red;
}
.bottom .bottom_c .bottom_c_ul01{
	list-style:none;
	margin-top: 20px;
	width: 1090px;
	margin-left: 135px;
}

.bottom .bottom_c .bottom_c_li{
	float；left;
	display: inline-block;
	font-size: 12px;
	color: #666666;
	margin-right: 17px;
	cursor: pointer;
}
.bottom .bottom_c .bottom_c_li:hover{
	color:red;
}
.bottom .bottom_c .bottom_c_li:after{
	content:"";
	width: 1px;
	height: 12px;
	display: inline-block;
	background: #D4CDCD;
	position: absolute;
	top: 27px;
	margin-left: 10px;
}
.bottom .bottom_c #bottom_c_li_14:after{
	content:inherit;
	display: none;
}
.bottom .bottom_c .bottom_c_ul02{
	list-style:none;
	height: 105px;
	margin-top: 20px;
}
.bottom .bottom_c .bottom_c_ul02_li01{
	height: 20px;
	margin-left: 285px;
}
.bottom .bottom_c .bottom_c_ul02_li01 p:after{
	content:"";
	width: 1px;
	height: 12px;
	display: inline-block;
	background: #999999;
	position: absolute;
	top: 65px;
	margin-left: 8px;
}
.bottom .bottom_c .bottom_c_ul02_li01 #li01_a:after{
	content:inherit;
	display: none;
}
.bottom .bottom_c .bottom_c_ul02_li02{
	height: 20px;
	margin-left: 245px;
}
.bottom .bottom_c .bottom_c_ul02_li02 p:after{
	content:"";
	width: 1px;
	height: 12px;
	display: inline-block;
	background: #999999;
	position: absolute;
	top: 85px;
	margin-left: 8px;
}
.bottom .bottom_c .bottom_c_ul02_li02 #li02_a:after{
	content:inherit;
	display: none;
}
.bottom .bottom_c .bottom_c_ul02_li03{
	height: 20px;
	margin-left: 275px;
}
.bottom .bottom_c .bottom_c_ul02_li03 p:after{
	content:"";
	width: 1px;
	height: 12px;
	display: inline-block;
	background: #999999;
	position: absolute;
	top: 105px;
	margin-left: 8px;
}
.bottom .bottom_c .bottom_c_ul02_li03 #li03_a:after{
	content:inherit;
	display: none;
}
.bottom .bottom_c .bottom_c_ul02_li04{
	height: 20px;
	margin-left: 370px;
}
.bottom .bottom_c .bottom_c_ul02_li04 p:after{
	content:"";
	width: 1px;
	height: 12px;
	display: inline-block;
	background: #999999;
	position: absolute;
	top: 125px;
	margin-left: 8px;
}
.bottom .bottom_c .bottom_c_ul02_li04 #li04_a:after{
	content:inherit;
	display: none;
}
.bottom .bottom_c .bottom_c_ul02_li05{
	height: 20px;

	margin-left: 575px;
}
.bottom .bottom_c .bottom_c_ul02_li05 p:after{
	content:"";
	width: 1px;
	height: 12px;
	display: inline-block;
	background: #999999;
	position: absolute;
	top: 145px;
	margin-left: 8px;
}
.bottom .bottom_c .bottom_c_ul02_li05 #li05_a:after{
	content:inherit;
	display: none;
}
.bottom .bottom_c .bottom_c_ul02 li p{
	font-size: 12px;
	float:left;
	color: #999999;
	margin-right: 20px;
	cursor: pointer;
	text-align: center;
}
.bottom .bottom_c .bottom_c_ul02_li04 p{
	margin-left: 40px;
}
.bottom .bottom_c .bottom_c_ul02 li p:hover{
	color: red;
}
.bottom .bottom_c_ul02_li04 .li04_span01{
	position:absolute;
	width: 15px;
	height: 15px;
	left: 385px;
	top:123px;
	background: url("../img/c_e1.png");
	background-position:-108px 80px;
}
.bottom .bottom_c_ul02_li04 .li04_span02{
	position:absolute;
	width: 17px;
	height: 15px;
	left: 490px;
	top:123px;
	background: url("../img/c_e1.png");
	background-position:-168px 80px;
}
.bottom .bottom_c_ul02_li04 .li04_span03{
	position:absolute;
	width: 17px;
	height: 15px;
	left: 585px;
	top:123px;
	background: url("../img/c_e1.png");
	background-position:-148px 80px;
}
.bottom .bottom_c_ul02_li04 .li04_span04{
	position:absolute;
	width: 17px;
	height: 15px;
	left: 705px;
	top:123px;
	background: url("../img/c_e1.png");
	background-position:-128px 80px;
}
.bottom .bottom_c_ul02_li04 .li04_span05{
	position:absolute;
	width: 17px;
	height: 15px;
	left: 805px;
	top:123px;
	background: url("../img/c_e1.png");
	background-position:-108px 63px;
}
.bottom .bottom_c .bottom_c_ul03{
	list-style:none;
	height: 35px;
	margin-top: 10px;
	margin-left: 440px;
	width: 555px;
}
.bottom .bottom_c .bottom_c_ul03 li{
	float: left;
	display: inline-block;
	height: 32px;
	width: 105px;
	background: #EEEEEE;
}
.bottom .bottom_c .bottom_c_ul03 li p{
	font-size:12px;
	width: 58%;
	text-align: left;
}
.bottom .bottom_c .bottom_c_ul03 #c_ul03_span01{
	position:absolute;
	width: 35px;
	height: 30px;
	left: 400px;
	top:177px;
	background: url("../img/c_e1.png");
	background-position:-205px 122px;
}
.bottom .bottom_c .bottom_c_ul03 #c_ul03_span02{
	position:absolute;
	width: 35px;
	height: 30px;
	left: 505px;
	top:177px;
	background: url("../img/c_e1.png");
	background-position:-205px 160px;
}
.bottom .bottom_c .bottom_c_ul03 #c_ul03_span03{
	position:absolute;
	width: 35px;
	height: 30px;
	left: 610px;
	top:177px;
	background: url("../img/c_e1.png");
	background-position:-205px 195px;
}
.bottom .bottom_c .bottom_c_ul03 #c_ul03_span04{
	position:absolute;
	width: 35px;
	height: 30px;
	left: 715px;
	top:177px;
	background: url("../img/c_e1.png");
	background-position:-205px 235px;
}
.bottom .bottom_c .bottom_c_ul03 #c_ul03_span05{
	position:absolute;
	width: 35px;
	height: 30px;
	left: 820px;
	top:177px;
	background: url("../img/c_e1.png");
	background-position:0px 80px;
} */