*{
	padding: 0px;
	margin: 0px;
}
.top{
	width: 100%;
	height: 32px;
	background: #E3E4E5;
	position: relative;
	top:0px;
}
/* 定位 */
.top .top_location{
	width: 50px;
	height:30px;
	left: 180px;
	position: relative;
	display: inline-block;
	border: 1px solid transparent;
}
.top .top_location .c_location{
	font-size:18px;
	color: #F10215;
	position: absolute;
	bottom: 4px;
	cursor: pointer;
	margin-left: -12px;
}
.top .top_location .shouyesp{
	font-size:18px;
	position: absolute;
	bottom: 4px;
	cursor: pointer;
	margin-left: -105px;
}
.top .top_location .shouye{
	font-size: 12px;
    position: absolute;
    left: -80px;
    bottom: 5px;
    color: #999999;
}

.top .top_location .guangdong{
	font-size: 12px;
	position: absolute;
	left: 10px;
	bottom: 7px;
	color: #999999;
}
.top .top_location_display{
	width: 322px;
	height: 438px;
	border: 1px solid #DED5DC;
	border-top: none;
	margin-top: 31px;
	margin-left: -1px;
	position: relative;
	display: none;
	background: white;
}
.top .top_location_display .line1{
	width: 260px;
	border: 0.5px dashed #EEEEEE;
	margin-top: 90px;
	margin-left: 20px;
}
.top .top_location_display .line2{
	width: 260px;
	border: 0.5px dashed #EEEEEE;
	margin-top: 10px;
	margin-left: 20px;
}
.top .top_location_display .c_global{
	font-size:18px;
	color: #F10215;
	position: absolute;
	bottom: 85px;
	left: 20px;
}
.top .top_location_display .c_australia{
	font-size:18px;
	color: #F10215;
	position: absolute;
	bottom: 85px;
	left: 145px;
}
.top .top_location_display .top_location_li li{
	color:#999999;
	font-size:12px;
	display: inline-block;
	width: 15%;
	margin-left:10px;
	margin-top:15px;
	cursor: pointer;
}
.top .top_location:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_location:hover>p{
	color: #F10215;
}
.top .top_location:hover>.top_location_display{
	display:block;
	z-index: 999;
}
.top .top_location_display .top_location_li li:hover{
	color:#F10215;
}
/* 定位 */

/* 请登录 */
.top .top_enter{
	/* width: 60px; */
	height:30px;
	left: 560px;
	top:9px;
	font-size:12px;
	color:#F10215;
	position: absolute;
	cursor:pointer;
	text-decoration: none;
	font-size: 12px;
}
/* 请登录 */

/* 免费注册 */
.top .top_register{
	font-size:12px;
	position: absolute;
	left: 625px;
	top:9px;
	color:#999999;
	cursor: pointer;
	text-decoration: none;
}
.plus{
	font-size:12px;
	position: absolute;
	left: 645px;
	top:9px;
	color:#999999;
	cursor: pointer;
}
.top .top_register:hover{
	color:#F10215;
}
/* 免费注册 */

/* 我的订单 */
.top .top_myform{
	font-size:12px;
	position: absolute;
	left: 693px;
	top:9px;
	color:#999999;
	cursor: pointer;
	text-decoration:none;
}
.top .top_myform:hover{
	color:#F10215;
}

/* 我的京东 */
.top .top_myjd_box{
	height:27px;
	left: 760px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
}
.top .top_myjd_box .top_myjd{
	color:#999999;
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
}
.top .top_myjd_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_myjd_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_myjd_box:hover>.top_myjd{
	color:#F10215;
}
.top .top_myjd_box .top_myjd_display{
	width: 282px;
	height: 163px;
	border-left: 0.5px solid #EEEEEE;
	border-right: 0.5px solid #EEEEEE;
	border-bottom: 0.5px solid #EEEEEE;
	border-top: none;
	margin-top: 90px;
	margin-left: -1px;
	position: absolute;
	top: -60px;
	display: none;
	background: white;
}
.top .top_myjd_box .top_myjd_display .top_myjd_ul li{
	color:#999999;
	font-size:12px;
	display: block;
	float: left;
	width: 35%;
	margin-left:20px;
	margin-top:10px;
}
.top .top_myjd_box:hover>.top_myjd_display{
	display:block;
	z-index: 999;
}
.top .top_myjd_box .top_myjd_display li:hover{
	color:#F10215;
}
/* 我的京东 */

/* 京东会员 */
.top .top_vip{
	font-size:12px;
	position: absolute;
	left: 855px;
	top:9px;
	color:#999999;
	cursor: pointer;
	text-decoration:none;
}
.top .top_vip:hover{
	color:#F10215;
}
/* 京东会员 */

/* 企业采购 */
.top .top_purchase_box{
	height:27px;
	left: 920px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
}
.top .top_purchase_box .top_purchase{
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
	color:#F10215;
}
.top .top_purchase_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_purchase_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_purchase_box .top_purchase_display{
	width: 155px;
	height: 70px;
	border-left: 0.5px solid #EEEEEE;
	border-right: 0.5px solid #EEEEEE;
	border-bottom: 0.5px solid #EEEEEE;
	border-top: none;
	margin-top: 90px;
	margin-left: -1px;
	position: absolute;
	top: -60px;
	display: none;
	background: white;
}
.top .top_purchase_box .top_purchase_display .top_purchase_ul li{
	color:#999999;
	font-size:12px;
	display: block;
	float: left;
	width: 40%;
	margin-left:10px;
	margin-top:10px;
}
.top .top_purchase_box:hover>.top_purchase_display{
	display:block;
	z-index: 999;
}
.top .top_purchase_box .top_purchase_display li:hover{
	color:#F10215;
}

/* 企业采购 */

/* 客户服务 */
.top .top_service_box{
	height:27px;
	left: 1007px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
}
.top .top_service_box .top_service{
	color:#999999;
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
}
.top .top_service_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_service_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_service_box:hover>.top_service{
	color:#F10215;
}
/* 客户服务 */

/* 网站导航 */
.top .top_navigation_box{
	height:27px;
	left:1095px;
	position:absolute;
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	padding-top: 3px;
	// top: -1px;
}
.top .top_navigation_box .top_navigation{
	color:#999999;
	font-size:12px;
	text-decoration: none;
	margin-left: 3px;
}
.top .top_navigation_box .top_arrows{
	font-size: 0.5px;
	color:#999999;
}
.top .top_navigation_box:hover{
	background: white;
	border-top: 1px solid #DED5DC;
	border-right: 1px solid #DED5DC;
	border-left:1px solid #DED5DC;
	border-bottom: 1px solid white;
}
.top .top_navigation_box:hover>.top_navigation{
	color:#F10215;
}
/* 网站导航 */

/* 手机京东 */
.top .top_phonejd{
	font-size:12px;
	position: absolute;
	left: 1190px;
	top:9px;
	color:#999999;
	cursor: pointer;
	text-decoration:none;
	top:8px;
}
.top .top_phonejd:hover{
	color:#F10215;
}